.section:not(:has(.square)) {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: aquamarine;
}
.section > div {
  width: 50%;
}
.section:has(.square) {
  background-color: blue;
  height: 30vh;
  display: flex;
  align-items: center;
}
.square {
  height: 50px;
  width: 50px;
  background-color: red;
}