html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-org;
  font-size: 50px;
}

.sectionStart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-org;
  font-size: 25px;
  background-color: green;
}

#section1 {
  position: relative;
  //min-height: 100%;
}
#section2 {
  background-color: blue;
  border-radius: 40px 40px 0 0;
  font-size: 40px;
}

#section3 {
  background-color: pink;
  border-radius: 40px 40px 0 0;
}

#section4 {
  background-color: rgb(143, 18, 39);
  border-radius: 40px 40px 0 0;
}

#spacer {
  background-color: red;
}