/* GENERAL STYLE */
body {
  font-family: "Public Sans", sans-serif;
  color: #101828;
}

.primary-text-color {
  color: #101828;
}

.secondary-text-color {
  color: #3065fa;
}

.text-gray {
  color: #344054;
}

.text-gray-light {
  color: #667085;
}

.bg-blue {
  background: #3065fa;
}

.bg-purple {
  background: #9a93f4;
}

.bg-skyblue-light {
  background: #bce5f6;
}

.bg-orange-light {
  background: #fcd1a6;
}

.bg-green-light {
  background: #b5e5b8;
}

.bg-light {
  background: #fefdf6 !important;
}

.btn-primary {
  background: #3065fa;
}
.btn-primary:hover {
  background: #3065fa;
  color: #fff;
}

.btn-secondary {
  background: #fff;
  color: #101828;
  position: relative;
  z-index: 1;
}
.btn-secondary:hover {
  color: #101828;
  background: #fff;
}

.btn-black-shadow::before {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  transition: box-shadow 0.2s linear;
}
.btn-black-shadow:hover::before {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.8);
}

.btn-blue-shadow::before {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px rgba(47, 121, 227, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  transition: box-shadow 0.2s linear;
}
.btn-blue-shadow:hover::before {
  box-shadow: 6px 6px 0px rgba(47, 121, 227, 0.8);
}

.container {
  max-width: 100rem;
}

.btn {
  padding: 0.625rem 1.875rem;
  border: none;
  font-weight: 600;
  position: relative;
}

.btn-large {
  padding: 1.125rem 3.125rem;
  font-size: 1.125rem;
}

.btn-outline {
  border: 1px solid #101828;
}
.btn-outline:hover {
  border: 1px solid #101828;
}

.spacer-y {
  padding: 7.5rem 0;
}

.spacer-top {
  padding-top: 7.5rem;
}

.spacer-bottom {
  padding-bottom: 7.5rem;
}

.spacer-md {
  padding: 3.75rem 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: 3.125rem;
}

h3 {
  font-size: 2.125rem;
}

.f-12 {
  font-size: 12px;
}

.font-20 {
  font-size: 1.25rem;
}

.font-18 {
  font-size: 1.125rem;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

img {
  max-width: 100%;
}

/* PANELS */
.panel {
  position: relative;
  z-index: 9;
}

.panel__options {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.panel__options span {
  color: #fff;
  font-size: 20px;  
  padding: 10px 30px;
  border-radius: 4px;
  transition:0.5s all ease;
  background-color: #408BFB; 
}
.panel__options .active {
  background-color: #0050c8;
}
.panel__options span:hover {
  background-color: #0050c8;
}
 

.panel__stack {
  --spacer: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  overflow-y: visible;
}
.panel__stack .panel__card {
  grid-area: 1/1/2/2;
  border-radius: 30px;
  padding: 2.5rem;
  position: absolute;
  height: 35.625rem;
  will-change: transform;
}
.panel__stack .panel__card:first-child {
  top: calc(var(--spacer) * 1);
  z-index: 1;
}
.panel__stack .panel__card:nth-child(2) {
  top: calc(var(--spacer) * 2);
  z-index: 2;
}
.panel__stack .panel__card:nth-child(3) {
  top: calc(var(--spacer) * 3);
  z-index: 3;
}
.panel__stack .panel__card:last-child {
  top: calc(var(--spacer) * 4);
  z-index: 4;
}
.panel__stack .panel__card ul {
  margin: 0;
  padding-right: 30px;
}
.panel__stack .panel__card ul li {
  position: relative;
  margin-bottom: 15px;
  font-size: 1rem;
  padding-left: 27px;
}
.panel__stack .panel__card ul li::before {
  content: url(../images/listing-icon.svg);
  position: absolute;
  top: 0px;
  left: 0;
}
.panel__stack .panel__card ul li:last-child {
  margin-bottom: 0;
}
.panel__stack .panel__card .green-bullets li::before {
  content: url(../images/green-list-icon.svg);
  position: absolute;
  top: 0px;
  left: 0;
}
.panel__stack .panel__card .orange-bullets li::before {
  content: url(../images/orange-list-icon.svg);
  position: absolute;
  top: 0px;
  left: 0;
}
.panel__stack .panel__card picture {
  position: relative;
  right: -10px;
}

.panel__content {
  width: 48%;
}

.panel__image {
  width: 52%;
}
.panel__image img {
  max-height: 30rem;
}

.panel__card__img {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 48px;
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  position: relative;
}

.sticky-notes {
  width: 209px;
  padding: 10px 15px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: -70px;
  bottom: 30px;
}
.sticky-notes .draw-line {
  position: absolute;
  top: -70px;
  left: -80px;
}

.sticky-notes__items {
  gap: 10px;
}
.sticky-notes__items div {
  padding: 10px 30px;
  border-radius: 8px;
}
.sticky-notes__items div:first-child {
  background-color: #fad1d1;
  color: #d92d20;
}
.sticky-notes__items div:nth-child(2) {
  background-color: #f4fad1;
  color: #f79009;
}
.sticky-notes__items div:last-child {
  background-color: #d1fadf;
  color: #039855;
}

.sticky-card {
  padding: 10px 15px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  right: -70px;
  top: 30px;
  max-width: 210px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.sticky-card .checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  vertical-align: middle;
}

.sticky-cards__items {
  gap: 10px;
}

.sticky-card.sticky-card-left {
  bottom: 50px;
  left: -100px;
  top: initial;
}

.panel__card--one .panel__card__img {
  background-color: #a9a3ff;
}

.panel__card--two .panel__card__img {
  background-color: #d1f2ff;
}

.panel__card--three .panel__card__img {
  background-color: #ffc183;
}

.panel__card--four .panel__card__img {
  background-color: #98d89c;
}