.app {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flair {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}