html,
body {
    height: 100%;
}

body {
    background-color: #1d1d1d;
    font-family: "Signika Negative", sans-serif;
    color: #989898;
    margin: 0 10px;
    font-size: 17px;
    text-align: center;
}

h1,
h2,
h3 {
    margin: 10px 0 10px 0;
    color: #f3f2ef;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 22px;
    margin-bottom: 16px;
    width: 650px;
}

#demo {
    height: 100%;
    position: relative;
    display: inline-block;
}
.box {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 6px;
    margin-top: 4px;
    display: inline-block;
}

.green {
    background-color: #6fb936;
}

.orange {
    background-color: #f38630;
}
.grey {
    background-color: #989898;
}