@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
}

.target {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 5px solid black;
  border-radius: 100%;
  width: 100px;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.slider {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  display: flex;
}
.slider > div {
  width: 120px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}