body,
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  list-style: none;
  box-shadow: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.marquee {
  overflow: hidden;
  width: 100%;
  top: 100px;
  top: 0;
  left: 0;
  position: relative;
  box-shadow: 0px 0px 0px 1px white inset;
}
.marquee img {
  width: 100%;
}
.marquee .track {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-items: flex-start;
}
.marquee .item {
  position: relative;
  display: flex;
  color: white;
  font-size: 40px;
  max-width: 700px;
  padding: 6rem;
  flex-shrink: 0;
  will-change: transform;
}
.marquee .item a {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.marquee .is-bg {
  background-color: blue;
}