@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
}

.page {
  margin: 50vh 0;
}
.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}